<h1>Favorited Pets</h1>

<section id="pet_favorites">
    <% @pet_favorites.each do |pet| %>
      <p1>
      <%= pet.name %><br/>
      <%= image_tag(pet.image, size: "200x200") %><br/>
      </p1><br/><br/>
    <% end %>
</section>
