<h1>Edit This Review</h1>

<section id="edit_review">
  <%= render partial: 'form', locals: { path: "/shelters/#{@review.shelter_id}/review/#{@review.id}",
                                        method: :patch,
                                        button_text: 'Submit' }%>
</section>
