<h1>Create New Review:</h1>

<section id="new_review">
  <%= render partial: 'form', locals: { path: "/shelters/#{@shelter_id}",
                                        method: :post,
                                        button_text: 'Submit Review' }%>
</section>
