<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h6><a href='/'> HOME </a>
      <a href='/pets'> Pets Index</a>
      <a href='/shelters'> Shelters Index</a></h6>

    <%= yield %>
  </body>
</html>
